# ==========================
# Python / Django
# ==========================

# Virtualenv & Environment
backend/venv

#.env file
backend/country_capital_quiz/.env

# ==========================
# React (frontend)
# ==========================
frontend/country_capital_quiz/node_modules/
frontend/country_capital_quiz/build/
frontend/country_capital_quiz/.env

